body {
    background-color: white;
    min-height: 100vh;
}
.list{
    background-color: #3399CC;
}
main p{color:#33FFCC;
}
main h3{color:#3399CC;
}
main ul p{color:#CCFF33;
}
.ol{background-color:#33FFCC;color:blue;
}
#a{background-color:#CCFF33;
}
#b{background-color:#CCEE22;
}
ul li{background-color:#22DDCC;
}
ul h3{background-color:#33BBEE;
}
dl h2{color:#FF00FF;background-color:#FFC0CB;
}
dl dt{background-color:#CCFF33;
}